@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #g0g0g0;
}

h1 {
  margin: 55px 0 40px;
  text-align: center;
}

