@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #g0g0g0;
}

h1 {
  margin: 55px 0 40px;
  text-align: center;
}

.faq-container {
    max-width: 595px;
    margin: 0 auto;
  }

  .faq {
    background-color: transparent;
    border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 25px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  }